{% extends '_layouts/elementindex' %}

{% set title = 'Reviews'|t('vouch') %}
{% set elementType = 'bymayo\\vouch\\elements\\Review' %}
{% set selectedSubnavItem = 'reviews' %}

{% set crumbs = [
    { label: craft.app.plugins.getPlugin('vouch').getSettings().pluginName, url: url('vouch') },
] %}

{% block actionButton %}
    {% if currentUser.can('vouch-createReviews') %}
        <a href="{{ url('vouch/reviews/new') }}" class="btn submit add icon">
            {{ 'New review'|t('vouch') }}
        </a>
    {% endif %}
{% endblock %}
